/* Checkout page start*/

#checkout h2 {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 1.25rem;
    color: #333;
}

#payment {
    max-width: 37.5rem;
    margin: 1.25rem auto;
    background: white;
    padding: 1.25rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 0.625rem;
    display: block;
}

input[type="text"],
input[type="month"],
select {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ccc;
    font-size: 0.625rem;
}

select {
    font-weight: bold;
    border: 0.0625rem solid #aaa;
    background-color: #f9f9f9;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#qrCodeContainer {
    text-align: center;
    margin: 1.25rem 0;
    margin-bottom: 3.125rem;
}

#totalAmount p {
    font-size: 0.9375rem;
    font-weight: bold;
    color: #333;
}


.delivery-address,
.payment-method {
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    margin-bottom: 0.9375rem;
    background-color: #f9f9f9;
}

.delivery-address h3,
.payment-method h3 {
    margin-bottom: 0.625rem;
    color: #555;
}

.icon i {
    margin: 0 0.3125rem;
}

footer .col {
    color: #333;
}

/* Checkout page end*/