#pagination {
    text-align: center;
}


#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 0.9375rem 1.25rem;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 600;
}